body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
input,
textarea,
select {
  display: block;
  width: 100%;
  height: 2em;
  padding: 0.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
textarea {
  height: auto;
  resize: none;
}
input:focus,
textarea:focus,
select:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.flex-container-att-items {
  display: flex;
}
.flex-container-att {
  padding: 0 0.5rem;
  flex: 1 1 10%;
}
.flex-container-outer {
  padding: 1rem;
  background-color: #aaa;
}
.flex-container {
  display: flex;

  outline: 5px dashed #888;
  background-color: #fff;
}
.flex-box {
  position: relative;
  border-radius: 10px;
  transition: all 0.5s;
}
.flex-box-att {
  flex: 1 1 50%;
}
.flex-box-att input,
textarea,
.flex-box-att select {
  border-color: transparent;
  background-color: transparent !important;
}
.flex-box-att-config {
  position: absolute;
  width: 100px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.flex-box-att-config > textarea {
  display: none;
}


.flex-box-att-config > textarea:focus ~ .flex-box-att {
  display: none;
}
